header {
  display: flex;
  -webkit-app-region: drag;
}

#window-title {
  display: flex;
  align-items: center;
  background: #777777;
  padding: 0.4rem 1rem;
}
#window-title img {
  width: 12px;
  height: 12px;
  margin-right: 0.4rem;
}
#window-title p {
  font-family: "Montserrat";
  font-weight: 700;
  color: #ffffff;
}
#window-title p span {
  font-weight: 400;
}

header > ul {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: stretch;
  display: flex;
}
header > ul > li {
  position: relative;
}
header > ul > li > p {
  color: #e2e2e2;
  padding: 0.5rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
}
header > ul > li li p {
  color: #ffffff;
  padding: 0.3rem 0.8rem;
}
header > ul > li p:hover {
  background: #777777;
  color: #ffffff;
}
header > ul > li:hover ul {
  display: flex;
}
header > ul ul {
  display: none;
  position: absolute;
  background: #333333;
  z-index: 1000;
  flex-direction: column;
  width: 20rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#window-buttons {
  -webkit-app-region: no-drag;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}
#window-buttons button {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 28px;
}
#window-buttons button img {
  width: 10px;
}
#window-buttons button:hover {
  background: #000;
  filter: invert(100%);
}

:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
  cursor: default;
  outline: none;
  -webkit-user-drag: none;
}

p, a, img, li {
  user-select: none;
}

ul {
  list-style: none;
}

html, body, #vue-wrapper {
  height: 100%;
}

#vue-wrapper {
  display: flex;
  flex-direction: column;
}

body {
  background: #141414;
  border-bottom: 0.5rem solid #0866e0;
}

#toolbar {
  padding: 0.8rem 1rem;
  display: flex;
}
#toolbar > li {
  margin-right: 1.8rem;
}
#toolbar > li > p {
  font-size: 11px;
  margin-bottom: 0.5rem;
  color: #b3b3b3;
}
#toolbar li:nth-child(1) li {
  border-left-color: #0866e0;
}
#toolbar li:nth-child(2) li {
  border-left-color: #23be51;
}
#toolbar li:nth-child(3) li {
  border-left-color: #ce4321;
}

#toolbar ul {
  display: flex;
}
#toolbar ul li {
  border: 1px solid transparent;
  padding: 0.6rem 1.8rem 0.4rem 0.6rem;
  color: #e2e2e2;
  transition: opacity 0.1s;
  border-radius: 0.5rem;
}
#toolbar ul li p {
  font-size: 11px;
}
#toolbar ul li:hover {
  border-color: #fff;
  color: #fff;
  border-radius: 0;
}
#toolbar ul li:active {
  opacity: 0.75;
}
#toolbar ul img {
  width: 10px;
  height: 10px;
  display: block;
  margin-bottom: 0.2rem;
}

main {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr auto;
  height: 100%;
}

main > div {
  border: 1px solid #3c3c3c;
}

#layers, #plugins {
  width: 25rem;
}

#toolbar {
  grid-row: 1/2;
  grid-column: 1/4;
}

#editor-view {
  grid-row: 2/4;
  grid-column: 1/3;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}
#editor-view .panel-header {
  grid-row: 1/2;
  grid-column: 1/3;
}
#editor-view .tool-list {
  grid-row: 2/3;
  grid-column: 1/2;
}
#editor-view canvas {
  grid-row: 2/3;
  grid-column: 2/3;
}

#preview-view {
  grid-row: 2/4;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}
#preview-view .panel-header {
  grid-row: 1/2;
  grid-column: 1/3;
}
#preview-view .tool-list {
  grid-row: 2/3;
  grid-column: 1/2;
}
#preview-view canvas {
  grid-row: 2/3;
  grid-column: 2/3;
}

#plugins {
  grid-row: 2/3;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: auto 1fr;
}
#plugins .panel-header {
  grid-row: 1/2;
}
#plugins ul {
  grid-row: 2/3;
}

#layers {
  grid-row: 3/4;
  grid-column: 3/4;
  display: grid;
  grid-template-rows: auto 1fr;
}
#layers .panel-header {
  grid-row: 1/2;
}
#layers ul {
  grid-row: 2/3;
}

.tool-list {
  display: flex;
  flex-direction: column;
}
.tool-list > li {
  margin-bottom: 0.25rem;
}
.tool-list ul {
  display: flex;
  flex-direction: column;
}
.tool-list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #0866e0;
  transition: opacity 0.2s;
}
.tool-list ul li:not(.tool-list-selected):hover {
  opacity: 0.8;
}
.tool-list ul li.tool-list-selected {
  background: #000;
  filter: invert(100%);
}
.tool-list img {
  width: 18px;
  height: 18px;
}

.panel-header {
  display: flex;
  justify-content: flex-start;
}
.panel-header img {
  width: 8px;
  height: 8px;
  margin-right: 0.5rem;
}
.panel-header p {
  padding: 0.4rem 0.8rem;
  background: #777777;
  color: #fff;
  font-size: 11px;
  display: flex;
  align-items: center;
}

#layers ul {
  display: flex;
  flex-direction: column;
}

#layers ul div {
  display: flex;
}

#layers li {
  border-left: 0.3rem solid #fff;
  padding: 0.5rem;
}

#layers p {
  display: flex;
  color: #fff;
}
#layers p img {
  width: 16px;
  margin-right: 0.5rem;
}

#layers button {
  border: none;
  background: none;
  color: #fff;
}
#layers button img {
  width: 12px;
}

#layers li.layer-selected {
  border-color: #0866e0;
}

/*# sourceMappingURL=main.css.map */
