header {
  display: flex;
  -webkit-app-region: drag;
}

#window-title {
  display: flex;
  align-items: center;
  background: #595f64;
  padding: 0.4rem 1rem;
}
#window-title img {
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
}
#window-title p {
  font-weight: 700;
  color: #ffffff;
}
#window-title p span {
  font-weight: 400;
}

header > ul {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: stretch;
  display: flex;
}
header > ul > li {
  position: relative;
}
header > ul > li > p {
  color: #e2e2e2;
  padding: 0.5rem 0.8rem;
  height: 100%;
  display: flex;
  align-items: center;
}
header > ul > li li p {
  color: #ffffff;
  padding: 0.3rem 0.8rem;
}
header > ul > li p:hover {
  background: #595f64;
  color: #ffffff;
}
header > ul > li:hover ul {
  display: flex;
}
header > ul ul {
  display: none;
  position: absolute;
  background: #232323;
  z-index: 1000;
  flex-direction: column;
  width: 20rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#window-buttons {
  -webkit-app-region: no-drag;
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
}
#window-buttons button {
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 28px;
}
#window-buttons button img {
  width: 10px;
}
#window-buttons button:hover {
  background: #000;
  filter: invert(100%);
}

@font-face {
  font-family: "Open Sans";
  src: url("../media/OpenSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../media/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
:root {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
  cursor: default;
  outline: none;
  -webkit-user-drag: none;
}

p, a, img, li {
  user-select: none;
}

ul {
  list-style: none;
}

html, body, #vue-wrapper {
  height: 100%;
}

#vue-wrapper {
  display: flex;
  flex-direction: column;
}

body {
  background: #141414;
  border-bottom: 4px solid #0b68e2;
  border-top: 2px solid #595f64;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3c3c3c;
}

::-webkit-scrollbar-thumb:hover {
  background: #505050;
}

#toolbar {
  margin: 0.8rem 1rem 1rem 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  overflow: auto;
  /* General */
  /* Editor */
  /* Preview */
  /* Layer */
  /* Selection */
  /* Plugins */
  /* Help */
}
#toolbar > li {
  margin-right: 1.5rem;
  flex-shrink: 0;
}
#toolbar > li > p {
  font-size: 11px;
  margin-bottom: 0.5rem;
  color: #969696;
}
#toolbar li:nth-child(1) li {
  border-bottom-color: #0b68e2;
}
#toolbar li:nth-child(2) li {
  border-bottom-color: #516194;
}
#toolbar li:nth-child(3) li {
  border-bottom-color: #517694;
}
#toolbar li:nth-child(4) li {
  border-bottom-color: #519465;
}
#toolbar li:nth-child(5) li {
  border-bottom-color: #a16050;
}
#toolbar li:nth-child(6) li {
  border-bottom-color: #a0a150;
}
#toolbar li:nth-child(7) li {
  border-bottom-color: #7650a1;
}

#toolbar ul {
  display: flex;
}
#toolbar ul li {
  border: 1px solid transparent;
  padding: 0.6rem 1.8rem 0.4rem 0.7rem;
  color: #e2e2e2;
  transition: opacity 0.1s;
  margin-right: -0.15rem;
}
#toolbar ul li p {
  font-size: 11px;
}
#toolbar ul li:hover {
  border-color: #fff;
  color: #fff;
  border-radius: 0;
}
#toolbar ul li:active {
  opacity: 0.75;
}
#toolbar ul img {
  width: 10px;
  height: 10px;
  display: block;
  margin-bottom: 0.2rem;
}

main {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 1fr auto;
  overflow: hidden;
  height: 100%;
}

main > div {
  border: 1px solid #101010;
}

#layers, #plugins {
  width: 25rem;
}

#toolbar {
  grid-row: 1/2;
  grid-column: 1/4;
}

#editor-view {
  grid-row: 2/4;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}
#editor-view .panel-header {
  grid-row: 1/2;
  grid-column: 1/3;
}
#editor-view .tool-list {
  grid-row: 2/3;
  grid-column: 1/2;
}
#editor-view .canvas-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#editor-view canvas {
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
}

#preview-view {
  grid-row: 2/4;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
}
#preview-view .panel-header {
  grid-row: 1/2;
  grid-column: 1/3;
}
#preview-view .tool-list {
  grid-row: 2/3;
  grid-column: 1/2;
}
#preview-view .canvas-wrapper {
  grid-row: 2/3;
  grid-column: 2/3;
  position: relative;
}
#preview-view canvas {
  position: absolute;
}

#plugins {
  grid-row: 2/3;
  grid-column: 3/4;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}
#plugins .panel-header {
  grid-row: 1/2;
}
#plugins ul {
  grid-row: 2/3;
  overflow: auto;
}

#layers {
  grid-row: 3/4;
  grid-column: 3/4;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}
#layers .panel-header {
  grid-row: 1/2;
}
#layers ul {
  grid-row: 2/3;
  overflow: auto;
}

.canvas-wrapper {
  grid-row: 2/3;
  grid-column: 2/3;
  overflow: hidden;
  background: linear-gradient(-45deg, #050505, #141414);
}

.tool-list {
  display: flex;
  flex-direction: column;
}
.tool-list > li {
  margin-bottom: 0.25rem;
}
.tool-list img {
  width: 18px;
  height: 18px;
}

.tool-list ul {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.tool-list ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background: #0b68e2;
  transition: opacity 0.2s;
  position: relative;
}
.tool-list ul li::after {
  content: attr(data-tooltip);
  white-space: nowrap;
  background: #ffffff;
  padding: 0 1rem;
  position: absolute;
  left: 100%;
  height: 36px;
  display: none;
  align-items: center;
}
.tool-list ul li:hover::after {
  display: flex;
  filter: invert(100%);
}
.tool-list ul li.tool-list-selected, .tool-list ul li:hover {
  background: #000;
  filter: invert(100%);
}

.panel-header {
  display: flex;
  justify-content: flex-start;
}
.panel-header img {
  width: 8px;
  height: 8px;
  margin-right: 0.5rem;
}
.panel-header p {
  padding: 0.4rem 0.8rem;
  background: #595f64;
  color: #fff;
  font-size: 11px;
  display: flex;
  align-items: center;
}

#layers ul {
  display: flex;
  flex-direction: column;
}
#layers ul div {
  display: flex;
}
#layers ul p {
  display: flex;
  color: #fff;
  padding: 0.6rem;
}
#layers ul p:hover {
  background: rgba(255, 255, 255, 0.2);
}
#layers ul p img {
  width: 12px;
  margin-right: 0.5rem;
}

#layers li {
  border-left: 2px solid #fff;
}

#layers button {
  border: none;
  background: none;
  color: #fff;
}
#layers button img {
  width: 12px;
}

#layers li.layer-selected {
  border-color: #0b68e2;
}
#layers li.layer-selected div {
  display: flex;
  align-items: center;
}
#layers li.layer-selected p {
  background: #0b68e2;
}
#layers li.layer-selected button:first-child {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0.6rem 0.8rem;
  font-size: 11px;
}
#layers li.layer-selected button:first-child img {
  margin-right: 1rem;
}
#layers li.layer-selected button:first-child:hover {
  background: rgba(255, 255, 255, 0.2);
}
#layers li.layer-selected button:last-child {
  background: #0b68e2;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
}
#layers li.layer-selected button:last-child:hover {
  opacity: 0.75;
}
#layers li.layer-selected div:first-child button:last-child {
  border-radius: 100% 100% 0 0%;
  align-self: flex-end;
}
#layers li.layer-selected div:last-child button:last-child {
  border-radius: 0% 0 100% 100%;
  align-self: flex-start;
}

/*# sourceMappingURL=main.css.map */
