@use "variables" as vars;

#plugins > div:nth-child(2) {
    display: flex;
    flex-direction: column;
}

#plugin-search-box {
    display: flex;
    align-items: center;
    padding: .6rem .8rem;

    img {
        width: 12px;
        height: 12px;
        margin-right: .5rem;
    }

    input {
        flex: 1;
        border-radius: vars.$panel-border-radius;
        padding: .2rem .5rem;
        border: none;
        background: none;
        color: #ffffff;
        cursor: text;
        
        &:hover, &:active {
            background: vars.$theme-primary;
        }

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.list-collapsed {

    & > .category-header img,
    & > .plugin-header button img {
        transform: rotate(0);
    }

    & > .category-child-list,
    & > .plugin-params {
        display: none;
    }

}

.category-child-list li {
    background: #1a1a1a;
    border-radius: vars.$panel-border-radius;
    width: 100%;
    margin-bottom: .25rem;
}

.category-header {
    display: flex;
    align-items: center;
    padding: .5rem .8rem;
    color: #ffffff;
    border: none;
    background: none;
    width: 100%;
    font-size: vars.$text-small;

    &:hover {
        background: vars.$theme-primary;
        border-radius: vars.$panel-border-radius;
    }

    &:active {
        opacity: .5;
    }

    & > * {
        cursor: pointer;
    }
    
    img {
        width: 10px;
        height: 10px;
        margin-right: 1rem;
        transform: rotate(45deg);
    }
    
}

.plugin-header {
    display: flex;
    align-items: center;
    padding: .3rem .3rem;

    & > button {
        border: none;
        background: none;
        width: 2rem;
        height: 2rem;

        &:hover {
            background: vars.$theme-primary;
            border-radius: vars.$panel-border-radius;
        }

        &:active {
            opacity: .5;
        }

        img {
            width: 10px;
            height: 10px;
            transform: rotate(45deg);
        }
    }

    & > p {
        display: flex;
        align-items: center;
        height: 2rem;
        padding: 0 .5rem;
        flex: 1;
        cursor: pointer;

        color: #ffffff;

        &:hover {
            background: vars.$theme-primary;
            border-radius: vars.$panel-border-radius;
        }

        &:active {
            opacity: .5;
        }

        img {
            cursor: pointer;
            width: 13px;
            height: 13px;
            margin-right: .5rem;
        }
    }
}

.plugin-params {
    
    li {
        padding: .5rem 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & > * {
            flex: 1;
        }
    }

    p {
        color: vars.$text-gray;
        font-size: vars.$text-small;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}