@use "variables" as vars;

#toolbar {
    margin: .8rem 1rem 1rem 1rem;
    padding-bottom: .5rem;
    display: flex;
    overflow: auto;

    > li {
        margin-right: 1.5rem;
        flex-shrink: 0;

        > p {
            font-size: vars.$text-small;
            margin-bottom: .5rem;
            color: rgb(150, 150, 150);
        }
    }

    /* General */
    li:nth-child(1) li {
        $color: vars.$theme-primary;
        border-bottom-color: $color;
        &:hover {background: $color;}
    }

    /* Editor */
    li:nth-child(2) li {
        $color: rgb(78, 92, 141);
        border-bottom-color: $color;
        &:hover {background: $color;}
    }

    /* Preview */
    li:nth-child(3) li {
        $color: rgb(74, 110, 139);
        border-bottom-color: $color;
        &:hover {background: $color;}
    }

    /* Layer */
    li:nth-child(4) li {
        $color: rgb(68, 136, 88);
        border-bottom-color: $color;
        &:hover {background:$color;}
    }

    /* Selection */
    li:nth-child(5) li {
        $color: rgb(146, 82, 66);
        border-bottom-color: $color;
        &:hover {background: $color;}
    }

    /* Plugins */
    li:nth-child(6) li {
        $color: rgb(136, 130, 48);
        border-bottom-color: $color;
        &:hover {background: $color;}
    }

    /* Help */
    li:nth-child(7) li {
        $color: rgb(113, 75, 156);
        border-bottom-color: $color;
        &:hover {background: $color;}
    }
}

// Inner lists

#toolbar ul {
    display: flex;

    li {
        border: 1px solid transparent;
        padding: .6rem 1.8rem .4rem .7rem;
        color: vars.$text-gray;
        transition: opacity .1s;
        margin-right: -.15rem;

        p {
            font-size: vars.$text-small;
        }

        &:hover {
            color: #fff;
            border-radius: vars.$panel-border-radius;
            box-shadow: 0 .2rem .5rem #0000008f;
        }

        &:active {
            opacity: .75;
        }

    }

    img {
        width: 10px;
        height: 10px;
        display: block;
        margin-bottom: .2rem;
    }

}