@use "variables" as vars;

#toolbar {
    margin: 1.2rem 1rem 1rem 1rem;
    height: 6.5rem;
    display: flex;
    overflow: auto;

    & > li {
        margin-right: 1rem;
        flex-shrink: 0;

        & > p {
            font-size: vars.$text-small;
            margin-bottom: .5rem;
            color: rgb(150, 150, 150);
        }
    }

    /* General */
    li:nth-child(1) li {
        $color: vars.$theme-primary;
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }

    /* View */
    li:nth-child(2) li {
        $color: rgb(25, 128, 168);
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }

    /* Editor */
    li:nth-child(3) li {
        $color: rgb(78, 92, 141);
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }

    /* Preview */
    li:nth-child(4) li {
        $color: rgb(74, 110, 139);
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }

    /* Layer */
    li:nth-child(5) li {
        $color: rgb(68, 136, 88);
        border-bottom-color: $color;
        &:hover, &.active {background:$color;}
    }

    /* Selection */
    li:nth-child(6) li {
        $color: rgb(146, 82, 66);
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }

    /* Plugins */
    li:nth-child(7) li {
        $color: rgb(136, 130, 48);
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }

    /* Help */
    li:nth-child(8) li {
        $color: rgb(113, 75, 156);
        border-bottom-color: $color;
        &:hover, &.active {background: $color;}
    }
}

// Inner lists

#toolbar ul {
    display: flex;

    li {
        border: 1px solid transparent;
        padding: .7rem 1.9rem .5rem .8rem;
        color: vars.$text-gray;
        transition: opacity .1s;
        

        p {
            font-size: vars.$text-small;
        }

        &.active, &:hover {
            border-radius: vars.$panel-border-radius;
        }

        &:hover {
            color: #fff;
        }

        &:active {
            opacity: .75;
        }

    }

    img {
        width: 10px;
        height: 10px;
        display: block;
        margin-bottom: .35rem;
    }

}