<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style/main.css">
        <title>UI</title>

        <script src="../node_modules/vue/dist/vue.min.js"></script>
        <script>
            const app = require("../javascript/app.js");
        </script>
    </head>
    <body>
        <div id="vue-wrapper">
            <div id="dialogs">
                <div id="save-dialog" style="display: none;">
                    <header>
                        <p>Dialog Title</p>
                    </header>
                    <div>
                        
                    </div>
                    <footer>
                        <button>Cancel</button>
                        <button>OK</button>
                    </footer>
                </div>
            </div>
            <header>
                <div id="window-title">
                    <img src="media/SCRCAD-icon.svg" alt="SCRCAD Icon">
                    <p>SCRCAD <span>Luna</span></p>
                </div>
                <ul>
                    <li>
                        <p>File</p>
                        <ul>
                            <li><p>New</p></li>
                            <li><p>Open</p></li>
                            <li @click="close"><p>Exit</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>Edit</p>
                        <ul>
                            <li><p>Undo</p></li>
                            <li><p>Redo</p></li>
                            <li><p>Settings</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>View</p>
                        <ul>
                            <li @click="app.viewport2D.zoom(1)"><p>Editor Zoom In</p></li>
                            <li @click="app.viewport2D.zoom(-1)"><p>Editor Zoom Out</p></li>
                            <li @click="app.viewport2D.toggleGrid()"><p>Editor Grid<span v-if="app.viewport2D.grid"> ✓</span></p></li>
                            <li @click="togglePnlEditor"><p>Editor <span v-if="panels.editor">✓</span></p></li>
                            <li @click="togglePnlPreview"><p>Preview <span v-if="panels.preview">✓</span></p></li>
                            <li @click="togglePnlPlugins"><p>Plugins <span v-if="panels.plugins">✓</span></p></li>
                            <li @click="togglePnlLayers"><p>Layers <span v-if="panels.layers">✓</span></p></li>
                        </ul>
                    </li>
                    <li>
                        <p>Layer</p>
                        <ul>
                            <li><p>Duplicate</p></li>
                            <li><p>Delete</p></li>
                            <li><p>Clear</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>Select</p>
                        <ul>
                            <li><p>All</p></li>
                            <li><p>Deselect</p></li>
                            <li><p>Invert</p></li>
                            <li><p>Clear</p></li>
                            <li><p>Multi-Layer</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>Plugins</p>
                        <ul>
                            <li><p>Reload</p></li>
                            <li><p>Open Folder</p></li>
                        </ul>
                    </li>
                    <li>
                        <p>Help</p>
                        <ul>
                            <li><p>Guides</p></li>
                            <li><p>About</p></li>
                        </ul>
                    </li>
                </ul>
                <div id="window-buttons">
                    <button @click="minimize"><img src="media/window_minimize.svg" alt="Minimize"></button>
                    <button @click="toggleMaximized"><img src="media/window_maximize.svg" alt="Maximize / Restore"></button>
                    <button @click="close"><img src="media/window_close.svg" alt="Close"></button>
                </div>
            </header>
            <main>
                <ul id="toolbar">
                    <li>
                        <p>General</p>
                        <ul>
                            <li>
                                <img src="media/undo.svg">
                                <p>Undo</p>
                            </li>
                            <li>
                                <img src="media/redo.svg">
                                <p>Redo</p>
                            </li>
                            <li>
                                <img src="media/save.svg">
                                <p>Save</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>View</p>
                        <ul>
                            <li :class="{active: panels.editor}" @click="togglePnlEditor">
                                <img src="media/layer-editor.svg">
                                <p>Editor</p>
                            </li>
                            <li :class="{active: panels.preview}" @click="togglePnlPreview">
                                <img src="media/3d-cube.svg">
                                <p>3D Preview</p>
                            </li>
                            <li :class="{active: panels.plugins}" @click="togglePnlPlugins">
                                <img src="media/plugin.svg">
                                <p>Plugins</p>
                            </li>
                            <li :class="{active: panels.layers}" @click="togglePnlLayers">
                                <img src="media/layer.svg">
                                <p>Layers</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Editor</p>
                        <ul>
                            <li :class="{active: app.viewport2D.grid}" @click="app.viewport2D.toggleGrid()">
                                <img src="media/layer-editor.svg">
                                <p>Show Grid</p>
                            </li>
                            <li @click="app.viewport2D.zoom(1)">
                                <img src="media/layer-editor.svg">
                                <p>Zoom In</p>
                            </li>
                            <li @click="app.viewport2D.zoom(-1)">
                                <img src="media/layer-editor.svg">
                                <p>Zoom Out</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Preview</p>
                        <ul>
                            <li>
                                <img src="media/3d-cube.svg">
                                <p>Render</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Layer</p>
                        <ul>
                            <li @click="app.viewport2D.duplicateLayer(app.viewport2D.activeLayer)">
                                <img src="media/layer.svg">
                                <p>Duplicate</p>
                            </li>
                            <li>
                                <img src="media/layer.svg">
                                <p>Delete</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Selection</p>
                        <ul>
                            <li>
                                <img src="media/selection.svg">
                                <p>Deselect</p>
                            </li>
                            <li>
                                <img src="media/selection.svg">
                                <p>Invert</p>
                            </li>
                            <li>
                                <img src="media/selection.svg">
                                <p>Clear</p>
                            </li>
                            <li>
                                <img src="media/selection.svg">
                                <p>Multi-Layer</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Plugins</p>
                        <ul>
                            <li>
                                <img src="media/plugin.svg">
                                <p>Reload</p>
                            </li>
                            <li>
                                <img src="media/plugin.svg">
                                <p>Directory</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <p>Help</p>
                        <ul>
                            <li>
                                <img src="media/SCRCAD-icon.svg">
                                <p>Guides</p>
                            </li>
                            <li>
                                <img src="media/SCRCAD-icon.svg">
                                <p>About</p>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div id="viewports">
                    <div v-show="panels.editor" id="editor-view">
                        <div class="panel-header">
                            <p><img src="media/layer-editor.svg">Layer Editor</p>
                        </div>
                        <ul class="tool-list">
                            <li>
                                <ul>
                                    <li @click="app.viewport2D.resetPosition()" data-tooltip="Home View">
                                        <img src="media/home-view.svg">
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li :class="{'tool-list-selected': app.viewport2D.view.plane == 'top'}" @click="app.viewport2D.setView({plane: 'top'})" data-tooltip="Top Plane">
                                        <img src="media/top-plane.svg">
                                    </li>
                                    <li :class="{'tool-list-selected': app.viewport2D.view.plane == 'front'}" @click="app.viewport2D.setView({plane: 'front'})" data-tooltip="Front Plane">
                                        <img src="media/front-plane.svg">
                                    </li>
                                    <li :class="{'tool-list-selected': app.viewport2D.view.plane == 'right'}" @click="app.viewport2D.setView({plane: 'right'})" data-tooltip="Right Plane">
                                        <img src="media/right-plane.svg">
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li data-tooltip="Selection Tool Placeholder">
                                        <img src="media/selection.svg">
                                    </li>
                                    <li class="tool-list-selected" data-tooltip="Selection Tool Placeholder">
                                        <img src="media/selection.svg">
                                    </li>
                                    <li data-tooltip="Selection Tool Placeholder">
                                        <img src="media/selection.svg">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="canvas-wrapper">
                            <div id="editor-status-bar">
                                <p>
                                    <img :src="'media/' + app.viewport2D.view.plane + '-plane.svg'">
                                    <span>{{app.viewport2D.view.plane}}</span>
                                </p>
                                <p>
                                    <img src="media/selection.svg">
                                    <span>Single</span>
                                </p>
                                <p>
                                    <img src="media/layer-editor.svg">
                                    <span>{{app.viewport2D.layerWidth}}x{{app.viewport2D.layerHeight}}</span>
                                </p>
                            </div>
                            <canvas id="editor-canvas" width=500 height=500></canvas>
                        </div>
                    </div>
                    <div v-show="panels.preview" id="preview-view">
                        <div class="panel-header">
                            <p><img src="media/3d-cube.svg">3D Preview</p>
                        </div>
                        <ul class="tool-list">
                            <li>
                                <ul>
                                    <li data-tooltip="Home View" @click="app.viewport3D.resetView()">
                                        <img src="media/home-view.svg">
                                    </li>
                                    <li data-tooltip="Top View">
                                        <img src="media/top-view.svg">
                                    </li>
                                    <li data-tooltip="Left View">
                                        <img src="media/left-view.svg">
                                    </li>
                                    <li data-tooltip="Right View">
                                        <img src="media/right-view.svg">
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <ul>
                                    <li class="tool-list-selected" data-tooltip="Only Render Current Layer">
                                        <img src="media/layer.svg">
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <div class="canvas-wrapper">
                            <canvas id="preview-canvas"></canvas>
                        </div>
                    </div>
                </div>
                <aside>
                    <div v-show="panels.plugins" id="plugins">
                        <div class="panel-header">
                            <p><img src="media/plugin.svg">Plugins</p>
                        </div>
                        <div>
                            <div id="plugin-search-box">
                                <img src="media/search.svg">
                                <input type="text" placeholder="Search..." spellcheck="false">
                            </div>
                            <ul class="category-master-list">
                                <li>
                                    <button class="category-header">
                                        <img src="media/plugin-arrow.svg">
                                        Plugin Category
                                    </button>
                                    <ul class="category-child-list">
                                        <li>
                                            <div class="plugin-header">
                                                <button>
                                                    <img src="media/plugin-arrow.svg">
                                                </button>
                                                <p><img src="media/plugin-placeholder.png">Plugin</p>
                                            </div>
                                            <ul class="plugin-params">
                                                <li>
                                                    <p>String Param</p>
                                                    <input data-param-type="string" spellcheck="false" type="text">
                                                </li>
                                                <li>
                                                    <p>Action Param</p>
                                                    <button data-param-type="action">External Script</button>
                                                </li>
                                                <li>
                                                    <p>Boolean Param</p>
                                                    <button data-param-type="boolean">✔</button>
                                                </li>
                                                <li>
                                                    <p>Color Param</p>
                                                    <button data-param-type="color" style="background: #a409d3;">#a409d3</button>
                                                </li>
                                                <li>
                                                    <p>Number Param</p>
                                                    <input data-param-type="number" type="number">
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-collapsed">
                                    <button class="category-header">
                                        <img src="media/plugin-arrow.svg">
                                        Effects
                                    </button>
                                </li>
                                <li class="list-collapsed">
                                    <button class="category-header">
                                        <img src="media/plugin-arrow.svg">
                                        Styling
                                    </button>
                                </li>
                                <li class="list-collapsed">
                                    <button class="category-header">
                                        <img src="media/plugin-arrow.svg">
                                        Text
                                    </button>
                                </li>
                                <li class="list-collapsed">
                                    <button class="category-header">
                                        <img src="media/plugin-arrow.svg">
                                        Bitmap
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div v-show="panels.layers" id="layers">
                        <div class="panel-header">
                            <p><img src="media/layer.svg">Layers</p>
                        </div>
                        <ul>
                            <li v-for="layer in range(app.viewport2D.layerCount, 0)" :class="{'layer-selected': app.viewport2D.activeLayer == layer}">
                                <div v-if="app.viewport2D.activeLayer == layer">
                                    <button @click="app.viewport2D.insertLayer(layer + 1)">
                                        <img src="media/plus.svg">
                                        Insert new layer
                                    </button>
                                    <button @click="app.viewport2D.swapLayers(layer, layer + 1)">
                                        <img src="media/up.svg">
                                    </button>
                                </div>
                                <p @click="app.viewport2D.selectLayer(layer)">
                                    <img src="media/layer.svg">
                                    Layer #{{layer + 1}}
                                </p>
                                <div v-if="app.viewport2D.activeLayer == layer">
                                    <button @click="app.viewport2D.insertLayer(layer)">
                                        <img src="media/plus.svg">
                                        Insert new layer
                                    </button>
                                    <button @click="app.viewport2D.swapLayers(layer - 1, layer)">
                                        <img src="media/down.svg">
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </aside>
            </main>
        </div>
        <script>
            app.init(Vue);
        </script>
    </body>
</html>